
body {
    /*padding: 0 6.25rem;*/
    /*max-width: 1024px;*/
    padding-bottom: 2.5rem;
    margin: auto;
    text-align: left;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #121212;
    line-height: 1.5;
    --gutter: 0.75rem;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    border: 1px solid black;
    max-width: 100%;
}

figcaption {
    font-size: 0.95em;
}

strong {
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin: auto;
}

.ungutter {
    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));
}

.logo {
    display: inline-block;
    background-image: url("rasterizer/images/svg-sphere.png");
    background-position: center;
    background-size: 200%;
    width: 400px;
    max-width: 100%;
    height: 400px;
}

.text-center {
    text-align: center;
}

.image-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5em;
}
.image-grid-2 figure {
    margin: 0;
}
.image-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5em;
}
.image-grid-3 figure {
    margin: 0;
}

.d-flex {
    display: flex;
}
.mx-auto {
    margin-inline: auto;
}
.border-spacing-4 {
    border-spacing: 1rem;
}